doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title React Toastr | tomchentw
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,900")
  body
    #react-root
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="#{assetsByChunkName.main}" async)
