{
  parser: "babel-eslint",
  extends: [
    "airbnb",
    "plugin:flowtype/recommended",
  ],
  plugins: [
    "react",
    "flowtype",
  ],
  rules: {
    linebreak-style: "off",
    react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }],
  },
  env: {
    browser: true,
  },
}
