h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  text-shadow: 0 1px 3px #555;
}

h1 small {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: block;
  font-size: 24px;
  color: #fff;
}

.github-button-container {
  margin: 20px 0 0 0;
  text-align: center;
}

.btn-container {
  text-align: center;
}

.btn-container button {
  outline: 0;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px 5px;
  background: #1abc9c;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px #17a88c;
  transition: all 150ms ease-in;
}

.btn-container button:hover {
  background: #01A383;
  box-shadow: 0px 3px 0px 0px #008F73;
}

.fadeInOut-enter {
  opacity: 0.01;
  transition: opacity .5s linear;
}

.fadeInOut-enter.fadeInOut-enter-active {
  opacity: 0.8;
}

.fadeInOut-leave {
  opacity: 0.8;
  transition: opacity .5s linear;
}

.fadeInOut-leave.fadeInOut-leave-active {
  opacity: 0.01;
}

.rotate-enter {
  transition: transform 1s;
}

.rotate-enter.rotate-enter-active {
  transform: rotate(360deg);
}

.rotate-leave {
  transition: transform 1s;
}

.rotate-leave.rotate-leave-active {
  transform: rotate(360deg);
}


.scale-enter {
  transform: scale(0.7);
  opacity: 0.01;
  transition: transform .5s, opacity .5s;
}

.scale-enter.scale-enter-active {
  transform: scale(1);
  opacity: 0.8;
}

.scale-leave {
  transition: transform .5s, opacity .5s;
  transform: scale(1);
  opacity: 0.8;
}

.scale-leave.scale-leave-active {
  opacity: 0.01;
  transform: scale(0.7);
}
